# Database configurations
DATABASE_URL=postgresql://anurag:jarvis@db:5432/jarvis

# Redis cache and queue
REDIS_URL=redis://redis:6379/0

# Allowed CORS origins
FRONTEND_URL=http://localhost

# Master Encryption Passphrase (change this!)
MASTER_PASSPHRASE=password123

# Local Ollama AI settings
OLLAMA_URL=http://ollama:11434
OLLAMA_LLM_MODEL=llama3.2:latest
OLLAMA_EMBED_MODEL=mxbai-embed-large
